.imdbPreview {
  align-self: flex-start;
}

.imdbHeader::after {
  content: "";
  display: block;
  clear: both;
}

.imdbTitle {
  font-size: 1.3em;
  margin-bottom: 15px;
  width: 75%;
  margin-right: 5px;
  float: left;
}

.imdbRating {
  color: var(--secondary-font-color);
  font-size: .75em;
}
.imdbRatingNumber {
  font-size: 2em;
  color: var(--main-font-color);
}

.imdbMeta {
  color: var(--secondary-font-color);
  font-size: .8em;
  margin: 10px 0;
}

.imdbMeta > span:first-child::before {
  display: none;
}

.imdbMeta > span::before {
  content: "|";
  color: var(--secondary-font-color);
  margin: 0px 5px;
}

.imdbMain {
  margin-bottom: 10px;
  font-size: .9em;
  line-height: 150%;
}
.imdbMain::after {
  display: block;
  clear: both;
  content: "";
}

.imdbPoster {
  float: left;
  max-width: 182px;
  margin-right: 10px;
}


.imdbYear {
  margin-left: 5px;
  font-size: .95em;
  color: var(--secondary-font-color);
}

.imdbDetails {
  font-size: .9em;
}
.imdbDetails dt {
  float: left;
  width: 75px;
  padding: 0;
  margin: 0;
  text-align: left;
  margin-right: 2%;
  color: var(--secondary-font-color);
}

.imdbDetails dd {
  float: left;
  width: 75%;
  padding: 0;
  margin: 0;
  text-align: left;
}
